@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&display=swap');

$color-5: #D6771E;
$color-6: #eca543;

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif, Arial;
}

.boton {
    justify-self: center;
}

.button {
    --offset: 10px;
    --border-size: 2px;

    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background .8s ease;

    &:hover {
        background: rgba(100, 0, 0, .03);
    }

    &__horizontal,
    &__vertical {
        position: absolute;
        top: var(--horizontal-offset, 0);
        right: var(--vertical-offset, 0);
        bottom: var(--horizontal-offset, 0);
        left: var(--vertical-offset, 0);
        transition: transform .8s ease;
        will-change: transform;

        &::before {
            content: '';
            position: absolute;
            border: inherit;
        }
    }

    &__horizontal {
        --vertical-offset: calc(var(--offset) * -1);
        border-top: var(--border-size) solid currentcolor;
        border-bottom: var(--border-size) solid currentcolor;

        &::before {
            top: calc(var(--vertical-offset) - var(--border-size));
            bottom: calc(var(--vertical-offset) - var(--border-size));
            left: calc(var(--vertical-offset) * -1);
            right: calc(var(--vertical-offset) * -1);
        }
    }

    &:hover &__horizontal {
        transform: scaleX(0);
    }

    &__vertical {
        --horizontal-offset: calc(var(--offset) * -1);
        border-left: var(--border-size) solid currentcolor;
        border-right: var(--border-size) solid currentcolor;

        &::before {
            top: calc(var(--horizontal-offset) * -1);
            bottom: calc(var(--horizontal-offset) * -1);
            left: calc(var(--horizontal-offset) - var(--border-size));
            right: calc(var(--horizontal-offset) - var(--border-size));
        }
    }

    &:hover &__vertical {
        transform: scaleY(0);
    }

}



// Encabezado
.encabezado {
    grid-area: encabezado;
    background-color: $color-6;
    display: grid;
    grid-template-areas: "logotipo menu";
    grid-template-columns: 220px auto;

    position: fixed;
    right: 0;
    left: 0;

    .logotipo {
        grid-area: logotipo;
        border: $color-6;
        color: $color-6;
        background-color: white;
        font-family: 'M PLUS 1 Code', sans-serif;
        font-size: 28px;
        margin: 10px;


    }

    .logotipo:hover {
        cursor: pointer;
    }

    .menu {
        grid-area: menu;
        display: flex;
        align-items: center;
        color: whitesmoke;
        
        #dolar {
            display: flex;
            justify-items: st;
        }

        .botones {
            list-style: none;

            a {
                text-decoration: none;
                color: whitesmoke;
            }

            a:hover {
                color: $color-6;
            }

            .boton_personalizado {
                text-decoration: none;
                padding: 5px;
                font-weight: 400;
                font-size: 20px;
                background-color: $color-6;
                border-radius: 6px;
                border: 2px solid whitesmoke;
            }

            .boton_personalizado:hover {
                background-color: whitesmoke;
            }
        }
    }

    .end{
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
    }

    .around{
        display: flex;
        justify-content: space-around;
        margin-right: 15px;
    }
}

// Inicia Página Index.html
.bodyIndex {
    background-image: url(../img/1.jpg);
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template-areas: "encabezado"
        "index"
        "footer";
    grid-template-rows: auto 700px auto;
}

.contenidoIndex {
    margin-top: 100px;
    grid-area: index;
    display: grid;
    grid-template-areas: "titulo espacio"
        "boton espacio";
    grid-template-rows: 25% auto;
    grid-template-columns: auto auto;

    .tituloIndex {
        grid-area: titulo;
        justify-self: center;
        align-self: center;
        padding: 15px;
        color: white;

        .titulo {
            font-size: 35px;
        }

        .descripcion {
            font-size: 20px;

            span {
                color: $color-6;
                background-color: white;
            }
        }
    }

    .espacio {
        grid-area: espacio;
    }
}

// Termina Página Index.html

// Inicia Página inicioSesion.html
.bodyInicioSesion {
    background-color: #ADBAC6;
    color: whitesmoke;
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template-areas: "encabezado"
        "index"
        "footer";
    grid-template-rows: auto 700px auto;
}

.contenidoInicioSesion {
    margin-top: 100px;
    grid-area: index;
    display: grid;
    grid-template-areas: "titulo"
        "formulario";
    grid-template-rows: 25%;
    grid-template-columns: auto;

    .tituloInicioSesion {
        grid-area: titulo;
        justify-self: center;
        align-self: center;
        padding: 15px;
        color: white;

        .titulo {
            font-size: 35px;
        }

        .descripcion {
            font-size: 20px;

            span {
                color: $color-6;
                background-color: white;
            }
        }
    }

    .formulario {
        padding: 50px;
        display: grid;
        grid-area: formulario;
        justify-self: center;
        max-height: 210px;
        background-color: $color-6;
        border-radius: .5rem;

        .formularioTitulo {
            font-size: 30px;
            justify-self: center;
            color: white;
        }

        .inicioSesion {
            display: grid;

            .form {
                margin: 5px;
                padding: 5px;
                border-radius: .5rem;
                min-width: 250px;
            }

            .formButton {
                font-size: 17px;
                margin: 10px;
                border-radius: .5rem;
                min-width: 100px;
                justify-self: center;
            }
        }
    }
}

// // Termina Página inicioSesion.html

// Inicia Página simuladorUsuario.html
.bodySimulador {
    display: grid;
    grid-template-areas: " encabezado"
        " contenidoSimulador"
        " footer";
    grid-template-rows: auto 700px auto;

    background-image: url(../img/2.jpg);
    background-position: center;
    background-size: cover;
}

.contenidoSimulador {
    display: grid;
    grid-area: contenidoSimulador;
    align-content: center;
    justify-content: center;
    color: whitesmoke;

    .formulario {
        background-color: rgba(173, 186, 198, .8);
        padding: 50px;

        .tituloSimulador {
            font-size: 35px;
        }
    }
}

// Termina Página siumladorUsuario.html

// Inicia Página resumen.html
.bodyResumen {
    background-color: whitesmoke;
    color: whitesmoke;

    display: grid;
    grid-template-areas: "encabezado"
        "index"
        "footer";
    grid-template-rows: auto 700px auto;
}

.contenidoResumen {
    margin-top: 53px;
    grid-area: index;
    display: grid;
    grid-template-areas: "menu principal";
    grid-template-columns: 12% auto;

    .menu {
        padding-top: 100px;
        grid-area: menu;
        background-color: $color-6;
        display: flex;
        flex-direction: column;
        align-items: center;

        .bot {
            padding: 20px;
            margin: 10px;
            text-decoration: none;
            color: whitesmoke;
            &.active{
                background-color: $color-5;
            }
            &:hover{
                background-color: $color-5;
            }
        }
    }

    .principal {
        grid-area: principal;
        padding: 15px;
        color: black;

        #hola{
            margin: 50px;
        }

        .lblDinero {
            color: #419F18;
            max-width: 180px;
            text-align: center;
            padding: 10px;
        }

        .cuenta {
            padding: 5px;
            margin-top: 100px;
            border: 1px solid black;
            width: 250px;
            height: 125px;

            .numeroCuenta {
                height: 50px;
                margin: 20px;
            }
        }
    }
}
// Termina Página resumen.html

// Inicia Página transferencias.html
.bodyTransferencias {
    background-color: whitesmoke;
    color: whitesmoke;

    display: grid;
    grid-template-areas: "encabezado"
        "index"
        "footer";
    grid-template-rows: auto 700px auto;
}

.contenidoTransferencias {
    margin-top: 35px;
    grid-area: index;
    display: grid;
    grid-template-areas: "menu principal";
    grid-template-columns: 12% auto;

    .menu {
        padding-top: 100px;
        grid-area: menu;
        background-color: $color-6;
        display: flex;
        flex-direction: column;
        align-items: center;

        .bot {
            padding: 20px;
            margin: 10px;
            text-decoration: none;
            color: whitesmoke;
            &.active{
                background-color: $color-5;
            }
            &:hover{
                background-color: $color-5;
            }
        }
    }

    .principal {
        grid-area: principal;
        padding: 15px;
        padding-top: 100px;
        color: black;
        
        .txtCuentaDestino {
            min-width: 200px;
        }

        .txtCuentaOrigen {
            min-width: 200px;
        }

        .lblEnviar {
            margin-top: 40px;
        }

        .lblDesdeCuenta {
            margin-top: 5px;
        }

        .lblCantidad {
            margin-top: 20px;
        }

        .form1 {
            padding: 10px;

            #btnTransferir {
                margin-top: 10px;
                padding: 5px;
            }
            #btnOtraTransferencia {
                margin-top: 10px;
                padding: 5px;
            }
        }

        .lblRecibo {
            margin: 25px;
        }

        table {
            border-spacing: 25px;
        }

        table tr .prueba {
            margin: 50px;
        }
    }
}
// Termina Página transferencias.html
// Pie de Página
.pieDePagina {
    display: grid;
    grid-area: footer;
    background-color: $color-6;
    color: white;
    height: 50px;
    justify-content: center;
    align-content: center;
}